body {
  margin: 0;
}
.block-heading {
  text-align: center;
  font-family: Arial;
  font-size: 18px;
}

.block {
  border-radius: 10px;
  background: linear-gradient(rgb(13, 255, 0) 50%, rgb(162, 255, 0) 100%);

  height: 150px;
  width: 150px;
}

.menu {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}
.vertical input {
  transform: rotate(90deg);
  width: 75px;
}
.vertical {
  margin: 0 auto;
  height: 75px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vertical label {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.horizontal {
  width: 100px;
  margin: 0 auto;
}
.horizontal input {
  width: 100%;
}
.horizontal label {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.middle {
  width: 75px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.hex-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
#HEX {
  width: 80px;
}
.last-one {
  width: 100px;
  margin: 0 auto;
}
.last-one input {
  width: 82px;
}
.result {
  height: 150px;
  width: 150px;
  margin-top: 30px;
  background: red;
}
